<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103972445421-drl5fu4nujb0tubusu8ho5q20vru9vlt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103972445421-drl5fu4nujb0tubusu8ho5q20vru9vlt</string>
	<key>API_KEY</key>
	<string>AIzaSyAOjrwUGrTvBD_SLJG51Qhs-qz5rB7TxoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>103972445421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test1</string>
	<key>PROJECT_ID</key>
	<string>test1-93f65</string>
	<key>STORAGE_BUCKET</key>
	<string>test1-93f65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103972445421:ios:be8f6b3ad757d8e3ad80e4</string>
</dict>
</plist>